body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#cardtitle{
  /* color: rgb(3, 3, 148); */
  color: white;
}
.card-body{
  background-color: rgb(100, 100, 100);
}
.card-text{
  color: wheat;
}
#form1{
  background-color: rgb(100, 100, 100);

}
#heading{
  color: rgb(3, 3, 90);
}